# Ignore these file types.
*.log
*.csv
*.docx
*.json
*.jsonl
*.pt
.vscode/
!configs/*/*/*/*.json

# Ignore Jupyter notebook checkpoints.
.ipynb_checkpoints/

# Ignore Mac system files.
.DS_Store

# Ignore Python bytecode.
__pycache__/
*.pyc
*.pyo

# Ignore setuptools metadata.
*.egg-info/

# Ignore these directories.
archive/
docs/

